ol{
  font-size: small;
}

.scroll-container {
  height: 400px; /* Adjust height as needed */
  width: 300px;
  overflow-y: scroll;
  border: 1px solid #ddd; /* Optional border for styling */
}

header,p{
  font-weight:bold;
  text-align: center;
  background-image: url("https://img.freepik.com/premium-photo/vintage-old-newspaper-grunge-texture-background-retro-paper_916191-188489.jpg?w=996");
}

.selected {
  background-color: lightblue;
}